@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: hsl(222, 45%, 10%);
    color: hsl(0, 0%, 100%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.267);
}

header {
    width: 100%;
    background-image: linear-gradient(45deg, hsl(43, 89%, 55%),hsl(38, 87%, 54%),hsl(43, 74%, 49%),hsl(43, 76%, 46%),hsl(43, 74%, 45%), hsl(43, 74%, 37%));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

p {
    margin: 15px 0px;
}

input {
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 100%;
    margin-bottom: 10px;
    color: hsl(40, 3%, 34%);
    background-color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 74%);
    padding: 5px 5px 5px 20px;
}

table {
    width: 640px;
}

thead {
    background-color: hsl(45, 100%, 50%);
}

td {
    padding: 7px 10px 10px 10px;
    border: hsl(222, 45%, 10%) 1px solid;
    text-align: center;
}

#margem {
    margin: 15px 0px;
}

.underline {
    text-decoration: underline hsl(43, 74%, 49%);
}

.botao {
    padding-right: 15px;
    padding-left: 15px;
    background-color: hsla(194, 100%, 50%, 0.795);
    color: hsl(0, 0%, 100%);
}

#resposta {
    padding-top: 20px;
    padding-bottom: 20px;
}